.node {
    position: relative;
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: peru;
    font-size: 30px;
    margin: 0 12px;
    flex-shrink: 0;
}