body {
  background-color: #282c34;
}

.App {
  height: 100vh;
  padding: 20px;
  margin-top: 48px;
}

.App .rootTrees {
  margin-top: 48px;
}

.App .trees {
  display: flex;
}

.App .rootTrees {
  flex-wrap: wrap;
}

.App .rootTrees .node {
  margin-bottom: 24px;
}

.App p {
  color: #ffffff;
  padding-left: 24px;
}